<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="flash"><%= flash[:notice] %></p>
    <% end %>
    
  <div id='navigation'>
    <h2>Links</h2>
    <ul>
      <li><%= link_to 'Home', articles_path %></li>
      <li><%= link_to 'Tags', tags_path %></li>
      <% if logged_in? %>
        <li><%= link_to 'Users', authors_path %></li>
      <% end %>
    </ul>
  </div>

    <div id='container'>
      <div id='content'>
    
        <%= yield %>
        <hr>
        <h6>
          <% if logged_in? %>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "(logout)", logout_path %> 
          <% else %>
            <%= link_to "(login)", login_path %> | 
            <%= link_to "(Sign Up)", new_author_path %>
          <% end %>
        </h6>
      </div>
    </div>
  </body>
</html>
